In [3]:
import numpy as np
import pandas as pd

In [4]:
path = r'./datasets/RF'
name = r'/RF_train_normalized_task_1.npz'
a = np.load(path+name)
a.files

['date', 'variable', 'data']

In [46]:
path = r'./datasets/Char'
name = r'/Char_test.npz'
b = np.load(path+name)
b.files
b['data'].shape

(300, 7141, 47)

In [61]:
a['data'].shape

(240, 3686, 47)

In [60]:
a['variable'].shape

(47,)

In [5]:
a['variable']

array(['ret', 'A2ME', 'AC', 'AT', 'ATO', 'BEME', 'Beta', 'C', 'CF',
       'CF2P', 'CTO', 'D2A', 'D2P', 'DPI2A', 'E2P', 'FC2Y', 'IdioVol',
       'Investment', 'Lev', 'LME', 'LT_Rev', 'LTurnover', 'MktBeta', 'NI',
       'NOA', 'OA', 'OL', 'OP', 'PCM', 'PM', 'PROF', 'Q', 'r2_1', 'r12_2',
       'r12_7', 'r36_13', 'Rel2High', 'Resid_Var', 'RNA', 'ROA', 'ROE',
       'S2P', 'SGA2S', 'Spread', 'ST_REV', 'SUV', 'Variance'],
      dtype='<U10')

In [52]:
pd.DataFrame(b['data'][250]).describe()

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
count,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,...,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000,7141.000000
mean,-68.467524,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,...,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956,-68.470956
std,46.464131,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,...,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311,46.459311
min,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,...,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000
25%,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,...,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000
50%,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,...,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000,-99.990000
75%,-0.052836,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,...,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333,-0.293333
max,0.724038,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000

In [49]:
b['data'][200]

array([[-99.99, -99.99, -99.99, ..., -99.99, -99.99, -99.99],
       [-99.99, -99.99, -99.99, ..., -99.99, -99.99, -99.99],
       [-99.99, -99.99, -99.99, ..., -99.99, -99.99, -99.99],
       ...,
       [-99.99, -99.99, -99.99, ..., -99.99, -99.99, -99.99],
       [-99.99, -99.99, -99.99, ..., -99.99, -99.99, -99.99],
       [-99.99, -99.99, -99.99, ..., -99.99, -99.99, -99.99]])

In [31]:
t = pd.DataFrame(data = a['data'].view(240,47), columns=a['variable'], index=a['date'])
np.savez('wewew.npz',t.values)

ValueError: Type must be a sub-type of ndarray type

In [24]:
b = np.load('wewew.npz')
b.files
b['arr_0'].shape

(240, 178)